@model IEnumerable<BookiWeb.Models.VenueHour>

@{
    ViewBag.Title = "VenueHour";
}

<h2>VenueHour</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
